@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-graduation:before {
	content: "\e000";
}
.flaticon-email:before {
	content: "\e001";
}
.flaticon-dumbbell:before {
	content: "\e002";
}
.flaticon-facebook:before {
	content: "\e003";
}
.flaticon-globe:before {
	content: "\e004";
}
.flaticon-joystick:before {
	content: "\e005";
}
.flaticon-twitter:before {
	content: "\e006";
}
.flaticon-tools:before {
	content: "\e007";
}
.flaticon-guitar:before {
	content: "\e008";
}
