/************* Global **************/
html, body {
	overflow-x: hidden;
	margin: 0;
	font-family: 'Gudea', 'sans-serif';
}

.left {
	float: left;
}

.right {
	float: right;
}

.align-vertical {
	display: table-cell;
	vertical-align: middle;
}

.tab-down-black {
	width: 150px;
	height: 75px;
	margin: 0 auto;
	margin-top: 87px;
	border-radius: 75px 75px 0 0;
	display: block;
	background-color: #585351;
	text-decoration: none;
}

.tab-down-black i,
.tab-down-grey i {
	width: 67%;
	display: block;
	margin: 0 auto!important;
}

.tab-down-grey {
	width: 150px;
	height: 75px;
	margin: 0 auto;
	margin-top: 87px;
	border-radius: 75px 75px 0 0;
	display: block;
	background-color: #f4f4f4;
}

#home a,
#skills a,
#education-experience a,
#works a,
#hobbies a,
#social a {
	text-decoration: none;
}

.cbp-spmenu {
	background: #585351!important;
}

.cbp-spmenu h3 {
	color: #f07d22!important;
	background: #585351!important;
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #f07d22!important;
}

.cbp-spmenu a {
	color: #f4f4f4!important;
}

.cbp-spmenu a:hover {
	background: #f07d22!important;
}


/************* home **************/

#home {
	background-color: #f4f4f4;
	width: 100%;
}

#home img {
	width: 100px;
	height: 100px;
	margin-top: 40px;
	margin-left: 40px;
}

#home i {
	margin-top: 40px;
	margin-right: 40px;
	color: #f07d22;
}

#home h1 {
	color: #585351;
	text-align: center;
}

#home p {
	color: #f07d22;
	text-align: center;
	font-size: 18px;
}

/************* skills **************/

@media screen and (min-width: 1200px) {
	#skills {
		background-color: #585351;
		color: #f07d22;
		width: 100%;
		display: table;
	}

	#skills h2 {
		padding: 0;
		margin-bottom: 25px;
	}

	#skill-slot-row {
		border-left: 3px solid;
		padding-left: 85px;
		margin-top: 15px;
	}

	#skills h1 {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		width: 20%;
	}

	.skill-slot {
		overflow: hidden;
		margin-bottom: 15px;
		clear: both;
	}

	.skill-buffer {
		margin-right: 38px;
	}

	.skill-slot span {
		float: left;
		color: #f07d22;
		font-size: 18px;
	}

	#skills ul {
		padding: 0;
		float: right;
		display: inline-block;
		list-style: none;
	}

	#skills ul li {
		font-size: 18px;
		float: left;
		margin-right: 10px;
	}

	.circle {
		height: 25px;
		width: 25px;
		border-radius: 50%;
		border: 2px solid #f07d22;
	}

	.filled {
		background-color: #f07d22;
	}

	#table {
		display: table-cell;
		vertical-align: middle;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	#skills {
		background-color: #585351;
		color: #f07d22;
		width: 100%;
		display: table;
	}

	#skills h2 {
		padding: 0;
		margin-bottom: 25px;
	}

	#skill-slot-row {
		border-left: 3px solid;
		padding-left: 85px;
		margin-top: 15px;
	}

	#skills h1 {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		width: 20%;
	}

	.skill-slot {
		overflow: hidden;
		margin-bottom: 15px;
		clear: both;
	}

	.skill-buffer {
		margin-right: 38px;
	}

	.skill-slot span {
		float: left;
		color: #f07d22;
		font-size: 18px;
	}

	#skills ul {
		padding: 0;
		float: right;
		display: inline-block;
		list-style: none;
	}

	#skills ul li {
		font-size: 18px;
		float: left;
		margin-right: 10px;
	}

	.circle {
		height: 25px;
		width: 25px;
		border-radius: 50%;
		border: 2px solid #f07d22;
	}

	.filled {
		background-color: #f07d22;
	}

	#table {
		display: table-cell;
		vertical-align: middle;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	#skills {
		background-color: #585351;
		color: #f07d22;
		width: 100%;
		display: table;
	}

	#skills h2 {
		padding: 0;
		margin-bottom: 25px;
	}

	#skill-slot-row {
		border-left: 3px solid;
		padding-left: 85px;
		margin-top: 15px;
	}

	#skills h1 {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		width: 20%;
	}

	.skill-slot {
		overflow: hidden;
		margin-bottom: 15px;
		clear: both;
	}

	.skill-buffer {
		margin-right: 0;
	}

	.skill-slot span {
		float: left;
		color: #f07d22;
		font-size: 18px;
	}

	#skills ul {
		padding: 0;
		float: right;
		display: inline-block;
		list-style: none;
		margin-right: 95px;
	}

	#skills ul li {
		font-size: 18px;
		float: left;
		margin-right: 10px;
	}

	.circle {
		height: 25px;
		width: 25px;
		border-radius: 50%;
		border: 2px solid #f07d22;
	}

	.filled {
		background-color: #f07d22;
	}

	#table {
		display: table-cell;
		vertical-align: middle;
	}
}

@media screen and (max-width: 767px) {
	#skills {
		background-color: #585351;
		color: #f07d22;
		width: 100%;
		display: block;
	}

	#skills h2 {
		padding: 0;
		margin-bottom: 25px;
		text-align: center;
	}

	#skill-slot-row {
		border: 0;
		padding-left: 0;
		margin-top: 15px;
		margin-left: -5px;
	}

	#skills h1 {
		text-align: center;
	}

	.skill-slot {
		overflow: hidden;
		margin-bottom: 15px;
		clear: both;
	}

	.skill-buffer {
		margin-right: 0;
	}

	.skill-slot span {
		float: left;
		color: #f07d22;
		font-size: 18px;
		margin-right: 25px;
	}

	#skills ul {
		padding: 0;
		float: right;
		display: inline-block;
		list-style: none;
		margin-right: 0;
	}

	#skills ul li {
		font-size: 18px;
		float: left;
		margin-right: 10px;
	}

	.circle {
		height: 25px;
		width: 25px;
		border-radius: 50%;
		border: 2px solid #f07d22;
	}

	.filled {
		background-color: #f07d22;
	}

	#table {
		display: block;
	}
}

/************* education-experience **************/

@media screen and (min-width: 1200px) {
	#education-experience {
		background-color: #f4f4f4;
		width: 100%;
	}

	#education-experience h1,
	#education-experience p,
	#education-experience i {
		color: #585351;
	}

	#education-experience span {
		color: #f07d22;
		font-size: 18px;
		margin-left: 28px;
	}

	#education-experience h1 {
		font-size: 28px;
		border-bottom: 3px solid;
		text-align: center;
	}

	#education-experience p {
		font-size: 18px;
	}

	.full-width {
	 	width: 100%;
	}

	.company {
		color: #f07d22!important;
	}

	.date-buffer {
		margin-right: 60px;
	}

	.bottom-border {
		border-bottom: 3px solid #585351;
	}

	.experience-buffer {
		margin-top: 15px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	#education-experience {
		background-color: #f4f4f4;
		width: 100%;
	}

	#education-experience h1,
	#education-experience p,
	#education-experience i {
		color: #585351;
	}

	#education-experience span {
		color: #f07d22;
		font-size: 18px;
		margin-left: 28px;
	}

	#education-experience h1 {
		font-size: 28px;
		border-bottom: 3px solid;
		text-align: center;
	}

	#education-experience p {
		font-size: 18px;
	}

	.full-width {
	 	width: 100%;
	}

	.company {
		color: #f07d22!important;
	}

	.date-buffer {
		margin-right: 60px;
	}

	.bottom-border {
		border-bottom: 3px solid #585351;
	}

	.experience-buffer {
		margin-top: 15px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	#education-experience {
		background-color: #f4f4f4;
		width: 100%;
	}

	#education-experience h1,
	#education-experience p,
	#education-experience i {
		color: #585351;
	}

	#education-experience span {
		color: #f07d22;
		font-size: 18px;
		margin-left: 28px;
	}

	#education-experience h1 {
		font-size: 28px;
		border-bottom: 3px solid;
		text-align: center;
	}

	#education-experience p {
		font-size: 18px;
	}

	.full-width {
	 	width: 100%;
	}

	.company {
		color: #f07d22!important;
	}

	.date-buffer {
		margin-right: 60px;
	}

	.bottom-border {
		border-bottom: 3px solid #585351;
	}

	.experience-buffer {
		margin-top: 15px;
	}
}

@media screen and (max-width: 767px) {
	#education-experience {
		background-color: #f4f4f4;
		width: 100%;
	}

	#education-experience h1,
	#education-experience p,
	#education-experience i {
		color: #585351;
	}

	#education-experience span {
		color: #f07d22;
		font-size: 18px;
		margin-left: 28px;
	}

	#education-experience h1 {
		font-size: 28px;
		border-bottom: 0;
		text-align: center;
		margin-bottom: 15px;
	}

	#education-experience p {
		font-size: 18px;
	}

	.full-width {
	 	width: 100%;
	}

	.company {
		color: #f07d22!important;
	}

	.date-buffer {
		margin-right: 0;
	}

	.bottom-border {
		border-bottom: 3px solid #585351;
	}

	.experience-buffer {
		margin-top: 15px;
	}
}


/************* works **************/

#works {
	background-color: #585351;
	height: 670px;
	width: 100%;
}

#works h1 {
	color: #f07d22;
	margin-bottom: 55px;
}

#carousel {
	width: 44%;
	height: 360px;
	margin: 0 auto;
}

.slider {
	margin: 0 auto;
}

/************* hobbies **************/

#hobbies {
	background-color: #f4f4f4;
	width: 100%;
	display: table;
}

#hobbies h1 {
	font-size: 28px;
	width: 20%;
	text-align: center;
}

#hobbies h1,
#hobbies i {
	color: #585351;
}

#hobbies p {
	color: #f07d22;
	font-size: 18px;
}

#hobbies span {
	padding-left: 100px;
	padding-right: 100px;
}

.hobbies-border {
	border-left: 3px solid #585351;
}

/************* social **************/

#social {
	background-color: #585351;
	width: 100%;
}

#social h1, 
#social i {
	color: #f07d22;
}

#facebook:hover {
	color: #4c66a4;
	transition-duration: 0.3s;
}

#twitter:hover {
	color: #55acee;
	transition-duration: 0.3s;
}

#email:hover {
	color: #f4f4f4;
	transition-duration: 0.3s;
}
